* {
   list-style: none;
   box-sizing: border-box;
}

.TitleItem {
   border-bottom: 1px solid #2ecc71;
   background: #fff;
}

.CategoriesMenu {
   width: 28%;
   border-right: .1  px solid #2ecc71;
   box-shadow: 0 8px 15px 2px black;
   /* flex-grow: 1;  */
}
.TitleItem h3 {
   margin: 15px 0;
   text-align: center;
   letter-spacing: 2px;
   font-size: 25px;
}

.CategoriesMenu ul {
   text-align: center;
   display: flex;
   flex-direction: column;
   /* padding-top: 5px; */
}

.CategoriesMenu ul li {
   padding: 15px 0;
   /* border-bottom: .1px solid #2ecd90; */
   transition: .5s;
}

.CategoriesMenu ul li:hover {
   background: #2ecc71;
   color: #fff;
   box-shadow: 0 5px 5px 0 black;
}