.NivigationMenu {
    width: 100%;
    height: 10vh;
    /* background: -webkit-linear-gradient(left, #F2C14E, #F78154); */
    background: #2ecc71;
    box-shadow: 0 3px 2px 0 rgb(56, 50, 50);
}

.NavigationList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
    padding-top: 3vh;
    margin: 0 auto;
    text-transform: uppercase;
}

.NavigationList a {
    padding: 5px 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
}

.activeLink {
    border-bottom: 1px solid #2c3e50;
    border-top: 1px solid #2c3e50;
}