@import url('https://fonts.googleapis.com/css?family=Federant&display=swap');
@import url('https://fonts.googleapis.com/css?family=Simonetta&display=swap');

a {
    text-decoration: none;
}

.Header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    height: 12vh;
    /* border: 1px solid black */
}

.HeaderContacts {
    display: flex;
    flex-direction: column;
    padding-top: 0.8rem;
}

.HeaderContacts p {    
    color: #34495e;
}

.Title {
    font-family: 'Simonetta';
    font-weight: 100;
    font-size: 3rem;
    color: #2d3436;
    letter-spacing: 0.5rem;
    /* text-transform: uppercase; */
}

.Title span {
    color: #d63031;
}

.HeaderContacts p {
    font-family: 'Roboto';
    letter-spacing: 0.1rem;
    color: darkcyan;
    margin: 0;
}
.Header a {
    transition: 0.3s;
}

.Header a:hover {
    text-decoration: none;
    cursor: context-menu;
    color: darkcyan;
}

.Header a {
    padding-top: 1.9vh;
    font-family: 'Roboto';  
    text-transform: uppercase;
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-weight: 900;
}

.HeaderIcons {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    height: 9vh;
    padding-top: 2vh;
}