.Main {
    /* background: url("../../img/flowers-background.png"); */
    width: 100%;
    height: 78vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Container {
    /* width: 70%; */
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
}

.Container h3 {
    font-size: 3rem;
    color: #34495e;
}